{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Detail</title>
    <link rel="stylesheet" href="artistDetails.css">
</head>
<body>
    <h2>{{artist.artist}} Profile</h2>
    <p>Artist Profile:<br><img class="artistImage" src="{{ name.image.url }}" alt="Album Image"></p>
    <p>Albums: {{artist.album_list}}</p>
    <h5 class="newAlbumButton"><a href="{% url 'new_album' %}">Add New Album</a></h5>
</body>
</body>
</html>