{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Album List</title>
</head>
<body>
    <h1 class="title">Album List</h1>
    {% for album in albums %}
    <h2 class="album"><a href="{% url 'album_detail' album.pk %}">{{album}}</a></h2>
    {% endfor %}
    <!-- loop throughout the album and on h2 pull out 1 of the albums -->
    <a href="{% url 'new_album' %}">Add A New Album</a>
</body>
</html>